.buttonStyle {
  padding: 8px;
  margin-top: 6px;
  color: rgba(75, 85, 99);
  border: 1pt solid rgba(75, 85, 99);
  border-radius: 0.125rem;
  transition: all 0.2s ease-in-out;
  font-weight: 200;
  width: calc(100% / 6); 
}
.buttonStyle:hover {
  color: #F57C00;
  border: 1pt solid #F57C00;
  transition: all 0.2s ease-in-out;
}
