<footer class='site-footer h-card'>

  <div class='wrapper'>

    <div class='footer-col-wrapper'>
      <div class='footer-col footer-col-1'>
        <ul class='contact-list'>
          <li class='p-name'>

            {%- if site.email -%}
              <li>
                Можете написать в любой момент на <a class='u-email' href='mailto:{{ site.email }}'>{{ site.email }}</a>
              </li>
              <li>
                Если есть история, которой вы хотите поделиться, высылайте на этот email.
              </li>
            {%- endif -%}
        </ul>
      </div>

      <div class='footer-col footer-col-2'>
        {%- include social.html -%}
      </div>

      <div class='footer-col footer-col-3'>
        <p>Записки о веб разработке, жизненные истории, <a href='/poems/'>стихи</a> и обзоры.</p>
      </div>
    </div>

  </div>

</footer>
